<h1>Projects</h1>

<td><%= link_to 'New', new_project_path %></td>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
    </tr>
  <% end %>
</table>
